# Dependencies
node_modules

# OS
.DS_Store
Thumbs.db
*.local

# Build
dist
/dist
build
.vite

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj

# Environment
.env
.env.local
.env.*.local

# Files
CV_ATS_IYYAN_ANUGRAH.pdf